body {
    background-color: rgb(233, 185, 130);
}

h1, p {
    text-align: center;
}

footer {
    text-align: center;
}

footer a {
    color: brown;
    margin: 20px;
}

.croissant-photo {
    max-width: 100%;
    margin: 0px 30px 20px 30px;
}
